body {
  margin: 0px !important;
  background-color: #f9f7f7;

}

h1 {
  font-size: 4.5rem !important;
  /* color: #ffa5a5; */
}

h2 {
  font-size: 2.6rem !important;
  /* color: #ffa5a5; */
}

p {
  /* font-family: 'Dancing Script', cursive; */
  font-size: 2rem;
}

#pinContainer {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.panel {
		height: 100%;
		width: 100%;
		position: absolute;
	}


                                                      /* navbar */
.navbar {
  /* background-color: #bed6fa; */
  background-color: #e6b5a5;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  border-radius: 2%;
}
.navbar-brand {
  font-family: 'Rubik', sans-serif;
  Font-Size: 43px !important;
  /* font-size: 3.5rem !important;
  font-weight: bold !important; */
  padding: 10px 0 0 70px;
/* color: #ffa5a5; */
}

.nav-item {
  /* padding: 0 19px; */
  padding: 0.6rem 2rem;
}

.nav-link {
  font-family: 'Source Sans Pro', sans-serif;
Font-Size: 17px !important;
  /* font-size: 2rem;
  font-weight: lighter; */

}

.just {
  position: relative;
}

.main-button {
  position: relative;
  align-items: center;
  text-align: center;
}

.main-btn {
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  /* height: 100vh; */

}

.scroll {
  padding-top: 40px !important;
  /* background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%) !important; */
}


                                                      /* top container */
.top-container {
  /* background-color: #edd5d5; */
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  border-radius: 7%;
  /* text-align: center !important; */
  text-align: center;
  margin: 35px;
  /* position: relative; */
  /* background-color: ; */
  padding: 30px 100px 70px 100px;
}


.introduction {
  border-radius: 5%;
  padding: 50px;
  color: #242023;

  /* color: #2d2e2b; */
}



.intro {
  /* float: left; */
  /* padding: 200px 0 0 110px; */
  font-family: 'Rubik', sans-serif;
  Font-Size: 43px;
  padding-top: 70px;
  /* color: #ff2e63; */
}

.first-gif > img {
  /* float: inherit; */
  /* margin:   0px 80px; */
  /* padding: 110px 40px 40px 40px; */
  border-radius: 50%;
  margin-top: 8px;
  position: relative;
  size: 60%;
}

.gif {
  border-radius: 35%;
  /* margin: 0 0 100px 0; */
}

.gif:hover {
  box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
}


                                                                /* middle container*/

#about-us .abt-title > h1, h2 {
  font-family: 'Rubik', sans-serif;
  Font-Size: 43px;
    /* font-size: 2rem; */
    text-align: center;

}
.middle-container {
  padding-bottom: 50px;
  /* background-color: #edd5e4; */
  /* background-color: #e0fcff; */
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  /* box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5); */
  margin: 35px;
  border-radius: 7%;
}

.middle-container:hover {
  /* box-shadow: 0 0 20px 10px rgba(0, 140, 186, 0.5); */
}

.abt-title {
  /* border-radius: 35%;
  background-color: #9ab3f5; */
  /* color: #ff2e63; */
}

.abt-title-h2 {
  /* padding: 70px 0; */
  font-family: 'Rubik', sans-serif;
  Font-Size: 17px;
}

.abt-points {
  text-align: center;
}

.abt-title-h1 {
  font-size: 3rem;
}

/* .abt-first-point {
  border-radius: 15%;
   background-color: #9ab3f5;
}

.abt-second-point {
  border-radius: 15%;
  background-color: #9ab3f5;
} */
.p-abt-first {
  margin-bottom: 30px;
  margin-top: 30px;
  /* color: #070d59; */
  font-family: 'Source Sans Pro', sans-serif;
Font-Size: 35px;
  /* font-family: 'Dancing Script', cursive; */
  /* color: #1d2d50; */
}

.p-abt-second {
  font-family: 'Source Sans Pro', sans-serif;
Font-Size: 35px;
  margin-bottom: 30px;
  /* color: #070d59; */
  color: #1d2d50;
}

.abt-gif1 {
  height: 450px;
  width: 450px;
  margin-bottom: 50px;
  border-radius: 35%;
}

.abt-gif2 {
  height: 450px;
  width: 450px;
  margin-bottom: 40px;
  border-radius: 35%;

}

                                                           /* bottom container */
.bottom-container {
  text-align: center;
  border-radius: 7%;
  margin: 40px;
  /* background-color: #f5f5f5; */
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  /* background-color: #cabbe9; */
  padding-bottom: 50px;
}

.contact-title {
  font-family: 'Rubik', sans-serif;
  Font-Size: 43px;
   /* background-color: #c3bef0; */
  height: 20rem;
  width: 100%;
}

.contact-title-h1 {
  font-size: 3.0rem;
}

.contact-title-h2 {
  font-family: 'Bree Serif', Serif;
  Font-Size: 43px;
  margin: 40px 200px 0 200px;
}

.bottom-content {
  margin: 00rem 150px 0 150px;
  padding: 40px 40px 40px 40px;
  Font-Family: 'Bree Serif', Serif;
  Font-Size: 43px;
}

.bottom-content:hover {
  background-color: #cadefc;
  border-radius:5%;
  box-shadow: 0 0 20px 8px rgba(0, 140, 186, 0.5);
}

.btn {
  background: #c3bef0;
  background-image: -webkit-linear-gradient(top, #c3bef0, #afa8ed);
  background-image: -moz-linear-gradient(top, #c3bef0, #afa8ed);
  background-image: -ms-linear-gradient(top, #c3bef0, #afa8ed);
  background-image: -o-linear-gradient(top, #c3bef0, #afa8ed);
  background-image: linear-gradient(to bottom, #c3bef0, #afa8ed);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  font-size: 20px !important;
  margin: 10px 0;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none;
}

.btn:hover {
  background: #867be0;
  background-image: -webkit-linear-gradient(top, #867be0, #7f72e8);
  background-image: -moz-linear-gradient(top, #867be0, #7f72e8);
  background-image: -ms-linear-gradient(top, #867be0, #7f72e8);
  background-image: -o-linear-gradient(top, #867be0, #7f72e8);
  background-image: linear-gradient(to bottom, #867be0, #7f72e8);
  text-decoration: none;
}

                                                                  /* footer */
.footer > p{
  padding-top: 50px;
font-family: 'Bree Serif', serif;
Font-Size: 25px;
  /* font-size: 5px !important; */
  text-align: center;
}
